@import "./utilities/variables";
@import "./utilities/bucle";
@import "./utilities/mediaqueris";
@import "./utilities/reset";

@import "./secciones/header";
@import "./secciones/footer";
@import "./secciones/formulario";
@import "./secciones/mains";
@import "./secciones/titulos";
@import "./secciones/seccion1";
@import "./secciones/seccion2";
@import "./secciones/acordion";
@import "./secciones/section-img";
@import "./secciones/contenedor-fts";
@import "./secciones/parrafo-1";

.fondo-inicio{
    background-image: url(../recursos/rsz_header.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.fondo-ejercicios{
    background-image: url(../recursos/rsz_ejercicios.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.fondo-nutrición{
    background-image: url(../recursos/rsz_nutrición.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.fondo-anatomía{
    background-image: url(../recursos/rsz_anatomía.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.fondo-contacto{
    background-image: url(../recursos/rsz_contacto.jpg);
    background-size: cover;
    background-attachment: fixed;
}
/*estos fondos los coloco acá para poder linkearlos, sino, no me funcionaban estas imágenes*/