@media (max-width: 768px) {
    .contenedor-fotos {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 519px) {
    .header {
        justify-content: center;
    }
}

