.contenedor-fotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    position: relative;
}


@media (max-width: 768px) {
    .contenedor-fotos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .contenedor-fotos {
        grid-template-columns: 1fr;
    }
}