input {
    border-radius: 5px;
    text-align: center;
    padding: 2px;
    border: 2px solid $negro;
    font-size: 30px;
    box-shadow: inset 0 0 5px #87b091;

    [type="text"] {
        height: 30px;
        background-color: #c4d4ab;
        color: #171430;
        display: block;
        margin: 0 auto;
    }

    &:focus {
        box-shadow: 0 0 5px 3px;
    }
}

input::placeholder {
    color: $azulado;
    text-shadow: 0 2px 5px $negro;
    text-transform: capitalize;

    &:focus {
        box-shadow: 0 2px 5px;
        height: 300px;

    }
}

textarea {
    transition: 0.7s;
    border-radius: 5px;
    text-align: center;
    padding: 2px;
    border: 2px solid $negro;
    font-size: 30px;
    box-shadow: inset 0 0 5px #87b091;

    &:focus {
        box-shadow: 0 2px 5px;
        height: 300px;

    }
}

textarea::placeholder {
    color: $azulado;
    text-shadow: 0 2px 5px $negro;
    text-transform: capitalize;
}