.main-inicio {
    display: flex;
    min-height: 70vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-ejercicios {
    display: flex;
    min-height: 70vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.main-anatomia {
    display: flex;
    min-height: 70vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


