h1 {
    text-align: center;
    padding: 15px;
    font-size: 1.4;
    background-color: #c4d4ab;
}

h2 {
    text-align: center;
    padding: 15px;
}

h3 {
    text-align: center;
    background-color: #eff0d5;
}